.welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 50px;
  font-weight: 1000;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h4 {
    font-size: var(--h4-size);
    font-weight: 900;
  }
  h1 {
    font-size: var(--h1-size);
    font-weight: 800;
  }
  p {
    font-size: var(--p-size);
  }
}
.hero-img {
  max-width: 30rem;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  overflow: hidden;
  animation: morph 5s linear infinite;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}
