.welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 50px;
  font-weight: 1000;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h4 {
    font-size: var(--h4-size);
    font-weight: 900;
  }
  h1 {
    font-size: var(--h1-size);
    font-weight: 800;
  }
  p {
    font-size: var(--p-size);
  }

  span {
    background-image: linear-gradient(
      to right bottom,
      var(--color-primary-dark),
      var(--color-primary-tertiary)
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
.hero-img {
  img {
    border-radius: 50%;
    max-width: 30rem;
    max-height: 30rem;
  }
}
