.projects {
  display: flex;
  padding: 5rem 10rem;
}
.projects-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.projects-container-1 {
  height: 45rem;
}
.project-container-1 {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.image-position {
  position: relative;
}

.image-project {
  width: 28rem;
  border: 5px solid white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.image-project::after {
  content: "";
  border-bottom: 7px solid white;
  width: 140%;
  display: block;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.btn-container {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}
.btn-container-project {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  background-color: var(--color-dark-tertiary);
  font-size: 2rem;
  border-radius: 2rem;
  color: inherit;
}

.text {
  margin-top: 1rem;
  font-size: var(--p-size);
}

.title {
  font-size: var(--h5-size);
}

.pagination {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 5rem;

  button {
    border: none;
    font-size: 3rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-primary-dark);
    transition: all 0.4s;
  }
  button:hover {
    color: var(--color-primary-tertiary);
  }
  button:disabled {
    cursor: not-allowed;
  }
}
