.text-color {
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-dark),
    var(--color-primary-tertiary)
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title-h2 {
  font-size: var(--h2-size);
  color: inherit;
  margin-top: 2rem;
}
.title-h4 {
  font-size: var(--h4-size);
  color: inherit;
}
